app-hero-search {
  .search {
    padding: {
      left: $global-margin-m;
      right: $global-margin-m;
    }
    text-align: center;

    &__title {
      font-family: $font-family-title;
    }

    &__box {
      border: 1px solid $gray;
    }
  }
  .search-result {
    display: flex;
    align-items: center;
    flex-direction: column;

    li {
      border-bottom: 1px solid gray;
      border-left: 1px solid gray;
      border-right: 1px solid gray;
      width: 195px;
      height: 16px;
      padding: 5px;
      background-color: white;
      font-family: $font-family-title;
      cursor: pointer;
      list-style-type: none;

      &:hover {
        background-color: #607D8B;
      }

      a {
        color: #888;
        display: block;
        text-decoration: none;

        &:hover {
          color: white;
        }

        &:active {
          color: white;
        }
      }
    }
  }

  #search-box {
    width: 200px;
    height: 20px;
  }

  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }
}
