app-navigation {
  .navigation {
    display: flex;
    padding: {
      left: $global-gutter-m;
      right: $global-gutter-m;
    }
    height: $navigation-height;
    align-items: center;

    &__logo {
      display: flex;
      margin-right: $global-gutter-m;
      height: 100%;
      align-items: center;
      color: $red;
      font-family: $font-family-title;
      font-size: 28px;
      text-decoration: none;

      &:hover {
        color: $red-light;
      }
    }

    &__link {
      display: flex;
      padding: {
        left: $global-margin-m;
        right: $global-margin-m;
      }
      height: 100%;
      align-items: center;
      font-family: $font-family-title;
      font-size: $font-title-m;
      text-decoration: none;
      transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

      &:visited, &:link {
        color: $navy-light;
      }

      &:hover {
        color: $gray-light;
        background-color: $navy-light;
      }
    }
  }
}
