$tile-height: 550px;
app-dashboard {
  .dashboard {
    &__title {
      padding: {
        left: $global-margin-m;
        right: $global-margin-m;
      }
      font-family: $font-family-title;
      text-align: center;
    }

    &__grid {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      margin: 0;
      padding: 0;
    }

    &__item {
      position: relative;
      display: flex;
      height: $tile-height;
      background-color: $navy;
      border: 1px solid $navy-light;
      box-sizing: border-box;

      text-decoration: none;

      flex-basis: 100%;
      @include media-breakpoint-up(md) {
        flex-basis: 50%;
      }
      @include media-breakpoint-up(lg) {
        flex-basis: 33.3%;
      }
      @include media-breakpoint-up(xl) {
        flex-basis: 20%;
      }
    }

    &__module {
      display: flex;
      padding: 20px;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);
      color: $white;
      font-family: $font-family-title;
      text-align: center;
      box-sizing: border-box;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      h4 {
        font-size: 32px;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.75);
        color: $navy;
      }

      @include mediaSmall() {
        width: 100%;
      }
    }
  }
}
