<div class="detail-container" *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>nemesis:
      <select [(ngModel)]="hero.nemesisVillainId">
        <option [value]="villain.id" *ngFor="let villain of villains$ | async">{{villain.name}}</option>
      </select>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
