<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input
        [(ngModel)]="hero.name"
        placeholder="name"
      />
    </label>
  </div>
  <div>
    <label>nemesis:
      <select
        class="form-control"
        id="nemesis"
        [(ngModel)]="hero.nemesis"
        (ngModelChange)="onChangeSelection($event)"
      >
        <option value="null">None</option>
        <option
          *ngFor="let villain of villains"
          [value]="villain.id"
        >
          {{villain.name}}
        </option>
      </select>
    </label>
  </div>
  <div>
    <label>superpowers</label>
    <ul>
      <li *ngFor="let superpower of hero.superpowers">{{superpower.name}}</li>
    </ul>
  </div>
  <div>
    <span>Give this hero a superpower</span>
    <select id="add-superpower" [(ngModel)]="heroSuperpower">
      <option value=""></option>
      <option *ngFor="let superpower of superpowers" [value]="superpower.id">{{superpower.name}}</option>
    </select>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
