$primary-color-1: #607D8B;
$primary-color-2: #039be5;

$grey-1: #666666;
$grey-2: #999999;
$grey-3: #AAAAAA;
$grey-4: #CCCCCC;
$grey-5: #EEEEEE;


$primary-link-background-color: $grey-5;
$primary-link-background-hover-color: #CFD8DC;