<section class="container-fluid">
  <h2 class="dashboard__title">All Characters</h2>

  <ul class="dashboard__grid">
    <li class="dashboard__item"
      *ngFor="let character of characters"
      [ngSwitch]="character.type">

      <ng-container *ngSwitchCase="'hero'">
        <app-hero [id]="character.id"></app-hero>
      </ng-container>

      <ng-container *ngSwitchCase="'villain'">
        <app-villain [id]="character.id"></app-villain>
      </ng-container>

    </li>
  </ul>

  <!-- TODO: Error Handling -->
  <!-- <span class="error-message" [innerHTML]="errorMessage$ | async"></span> -->

  <app-hero-search></app-hero-search>

</section>
