<div id="search-component" class="search">
  <h2 class="search__title">Character Search</h2>
  <input
    #searchBox
    id="search-box"
    class="search__box"
    (input)="search(searchBox.value)"
  />
  <ul class="search-result">
    <li *ngFor="let character of characters$ | async">
      <!-- TODO: we need to either if condition the type of the character
       or setup a base url for heroes and villians to able to correctly link characters to their detail page-->
      <a routerLink="/heroes/{{character.id}}">
        {{character.name}}
      </a>
    </li>
  </ul>
</div>
