$charcoal: #7f8c8d;
$charcoal-light: #95a5a6;
$gray: #bdc3c7;
$gray-light: #ecf0f1;
$red: #c0392b;
$red-light: #e74c3c;
$blue: #2980b9;
$blue-light: #3498db;
$green: #27ae60;
$green-light: #2ecc71;
$navy: #2c3e50;
$navy-light: #34495e;
$white: #fff;
