*:focus {
  outline: $outline;
}

body {
  margin: 0;
  font-family: $font-family-global;
}

body, input[text], button {
  color: $charcoal;
}

a {
  cursor: pointer;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #cfd8dc;
  }

  &:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
}
