$global-margin-s: 12px;
$global-margin-m: 16px;
$global-gutter-s: 8px;
$global-gutter-m: 16px;
$global-max-width: 1600px;

$breakpoint-s: 600px;
$navigation-height: 60px;

$font-family-global: Arial, Helvetica, sans-serif;
$font-family-title: 'Bangers', cursive, Arial, Helvetica, sans-serif;
$font-title-s: 16px;
$font-title-m: 20px;
$font-subtitle-s: 14px;
$font-subtitle-m: 18px;
$font-content-s: 12px;
$font-content-m: 14px;
$font-description-s: 10px;
$font-description-m: 12px;
$outline: 1px solid $navy-light;
